/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg');
    background-size: cover;
    background-repeat: Y;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-attachment:fixed;
    background-position: left top;
}

body {
    padding-bottom: 3em; /*does not work*/
}

.container{
    height: 100%;
    align-content: center;
}

#card2{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
}

#card{
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #ffa012;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
    }

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #ffa012;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #ffa012;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}



a:link {
    margin-left: 4px;
    color: #ffa012;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ffa012;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  #valid_text_password {
    color: red;
    font-family: 'Numans', sans-serif;
  }

  #valid_username {
    color: red;
    font-family: 'Numans', sans-serif;
  }

  #select {
    color: #ffa012;
    font-family: 'Numans', sans-serif;
  }

  body{
    background-color: #785cdd;
}

.profile-container{
    justify-content: center;
    height: 350px;
    margin-top: 5%;
    width: 570px;
    background-color: rgba(0,0,0,0.5);
}

.blocks {
    display: inline-block;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    /* background-color: darkred; */
}

.avatar, logoutbtn {
    display: list-item;
}

.portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.avatar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.avatar-mini {
    width: 60px;
    height: 60px;
    border-radius: 50%; 

}

#block2 div {
    /* background-color: gray; */
    margin-top: 10px;
    vertical-align: middle;
    text-align: left;
}

/* timeline */
.title {
    color:lightgray;
}

.post-container{
    height:auto; 
    margin-top: 2%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    position:relative;
}

.textarea {
    height: 100px;
    margin-top: 3%;
    width: 100%;
}

img {
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-bottom: 3%;
}